.container {
  --app-max-width: 800px;

  width: 100%;
  max-width: var(--app-max-width);
  margin-inline: auto;
  box-sizing: border-box;
  container-type: inline-size;
  container-name: app;

  background-color: #ffeadb;
  overflow-x: clip;
  padding-inline: env(safe-area-inset-left, 0px) env(safe-area-inset-right, 0px);
}
