@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;1,300&family=Forum&family=Marck+Script&family=Pattaya&family=PT+Mono:wght@400;700&family=Playfair+Display:wght@600;700;800;900&family=Tektur:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  background-color: #ffeadb;
  font-family:
    "PT Mono", ui-monospace, "Cascadia Code", "Segoe UI Mono", monospace;
  font-size: 1rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h2,
h3 {
  margin: 0;
}
